.Main
  .Message
    .Message__box
      .Message__boxleft
        .Message__image
          = image_tag '/assets/test2.jpg', height: '240em', width: '240em', class: 'hoge'
        .Message__userbox
          .Message__user
            投稿者：
          .Message__username
            uni
          .Message__nice
            イイね❤︎2
      .Message__boxright
        .Message__contents
          .Message__contentsname
            白谷雲水峡
          .Message__contentsarea
            [松原市]
          .Message__contentscoment
            %p 良い！すごく良い
            %p 素晴らしい
            %p イイかもね
          .Message__contentsspoint
            %p 安い