.Sidebar
  .Sidebarmain
    .Sidebarmain__areabox
      %h1 エリアから選ぶ
    .Sidebarmain__drop
      Dropdown
    .Sidebarmain__list
      大阪
      兵庫
      奈良

    .Sidebarmain__ldentify
      %h1 こだわり条件で探す
      .Sidebarmain__ldentifylist
        安全
        　お一人様メイン

