.Header
  .Headermenu
    %ul.Headermenu__right
      %li.Headermenu__new
        新規登録
      %li.Headermenu__itembar
        |
      %li.Headermenu__login
        ログイン
      %li.Headermenu__itembar
        |
      %li.Headermenu__mypage
        マイページ
  .Headermain
    .Headermain__pagename
      = image_tag '/assets/logo1.PNG', height: '200em', width: '200em', class: 'hoge'

  .Headerlist
    .Headerlist__group 
      .Headerlist__search
        キーワード検索
      .Headerlist__right
        .Headerlist__post
          投稿する