.Header {
  background-color: white;

  // min-width: 70em;
  // max-width: 80em;
  // padding: 1em;
  width: 100vw;
  height: 15em;
  text-align: center;
  
  .Headermenu {
    background-color: black;
    height: 3em;
    color: #ffffff;
  
    &__right {
      display: flex;
      justify-content: flex-end;
      list-style: none;
      line-height: 3em;
    }
    &__new {
      padding: 0 1em;
    }
    &__login {
      padding: 0 1em;
    }
    &__mypage {
      padding: 0 1em;
    }

  }


  .Headermain {
    background-image: image-url('topimage.jpg');
    background-size: cover;
    height: 9em;
    font-size: 1.5em;
    line-height: 2em;
    padding: 0.5em;
    display: flex;
    justify-content: space-between;
    color: white;
    
    &__pagename {
  
    
    }
    &__rightmenu {
      margin: 0 1em 0 0;
      display: flex;
    }
    &__new {
      // background-color: white;
      margin-bottom: 1em;
      padding-right: 1em;
    }
    &__login {
      // background-color: white;
    }

  }

  .Headerlist {
    background-color: white;
    width: 100vw;
    height: 3.5em;
  
    
    &__group {
      padding: 0.3em;
      display: flex;
      align-items: center;
      justify-content: space-between;
      
    }
    &__search {
      color: black;
      background-color: white;
      width: 22em;
      height: 3em;
      margin-left: 5em;
      border: solid 0.05em gray;
      line-height: 3em;

    }

    &__right {
      padding-right: 1em;
    }
    &__post {
      height: 3em;
      padding: 0 2em;
      line-height: 3em;
      border: solid 0.05em gray;

    }
  }



}